.step2 {
    padding-right: 40px;
    
    .form-control {
        margin-bottom: 16px;
    }

    .error {
        font-size: 1.4rem;
        color: $brown;
        margin-left: 16px;
        margin-top: -10px;
        margin-bottom: 15px;
    }

 
}