.step3 {
    p {
        margin-bottom: 22px ;
        color: $text;

        strong {
            margin-bottom: 8px ;
            display: block;
            font-size: 1.4rem;;
        }

        span {
            font-size: 1.6rem;
        }
    }
}