//-------------------- Fonts --------------------//

$body-font: 'Poppins', sans-serif;
$title-font: 'Poppins', sans-serif;

//-------------------- Base Colors --------------------//

$primary-color: 			#f5df4e;
$primary-color-hover: 		darken($primary-color, 7%);
$secondary-color: 			#939597;
$body-bg:					#dddddd;


$text: #2F2F2F;
$border: #2F2F2F29;
$gray: #9F9F9F;
$text-gray: #585757;
$brown: #bc6b3d;